.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
