$myBezier: cubic-bezier(0.4, 0, 0.2, 1);
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #008bf8;
  display: flex;
  flex-direction: column;
}

.sidebar-toggle {
  height: 50px;
  line-height: 50px;
  float: left;
  cursor: pointer;
  color: #fff;
}
.navbar {
  transition: margin-left 0.3s ease-in-out;
  min-height: 50px;
  background-color: #008bf8;
  display: flex;
  justify-content: space-between;
}

.navbar-custom-menu {
  height: 50px;
}
.nav {
  height: 50px;
  display: flex;
}
.nav > li {
  height: 50px;
  position: relative;
}
.nav > li > a {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 20px;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
  }
}
.user-menu {
  .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-role,
  .user-name {
    display: block;
    white-space: nowrap;
  }
  .user-name {
    font-size: 16px;
  }
  .user-role {
    font-size: 12px;
  }
}

.logo {
  width: 100%;
  height: 50px;
  display: block;
  background-color: #0062ad;
  color: #fff;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
}

.dropdown-menu {
  padding: 4px;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.dropdown-menu li {
  margin: 0;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  .navbar {
  }
  .logo {
    width: 250px;
  }
  body.sidebar-collapse .navbar {
    margin-left: 0;
  }
  body.sidebar-collapse .logo {
    transform: translateX(-100%);
    width: 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
}
