@import "@/assets/styles/abstracts/variables";

$myBezier: cubic-bezier(0.4, 0, 0.2, 1);
.main-sidebar {
  position: fixed;
  top: 100px;
  padding-top: 20px;
  min-height: 100vh;
  width: 250px;
  z-index: 810;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 4px 0px 20px 0px rgba(187, 196, 206, 0.5);
  opacity: 1;
  z-index: 0;
}
.sidebar {
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  padding-bottom: 10px;
}

.sidebar-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.active {
  }
  span {
    width: 100%;
    color: #031b3c;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }
}
.sidebar-menu {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    border-radius: 0.25rem;
    height: 0.5rem !important;
    width: 0rem !important;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #d1d7dc !important;
  }
  & > li {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    &.accordion__menu_active {
      .menu-icon {
        svg {
          path {
            fill: #40d88a;
          }
        }
      }
      .menu-title {
        color: #40d88a;
      }
      .pull-right-container {
        svg {
          transform: rotate(-90deg);
          path {
            fill: #40d88a;
          }
        }
      }
      & > div {
        &::before {
          height: 48px;
        }
      }
    }
    &:hover {
      .menu-icon {
        svg {
          path {
            fill: #40d88a;
          }
        }
      }
      .menu-title {
        color: #40d88a;
      }
      .pull-right-container {
        svg {
          path {
            fill: #40d88a;
          }
        }
      }
      & > div {
        &::before {
          height: 48px;
        }
        .menu-icon {
          width: 25px;
          height: 25px;
          margin-right: 20px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .pull-right-container {
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            transition: transform 0.3s $myBezier, color 0.3s $myBezier;
          }
        }
      }
    }
    & > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      color: #919caa;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        width: 4px;
        background-color: #40d88a;
        height: 0;
        transition: all 0.25s ease;
        border-radius: 0 5px 5px 0;
      }
      .menu-icon {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .pull-right-container {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          transition: transform 0.3s $myBezier, color 0.3s $myBezier;
        }
      }
    }
    .treeview-menu {
      padding-left: 30px;
      background: #fff;
      overflow: hidden;
      height: auto;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 17.5px;
        left: 10px;
        width: 1px;
        min-height: calc(100% - 35px);
        background-color: #d2d6dd;
      }
      li {
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        &.active {
          &::before {
            background-color: #40d88a;
          }
        }
        &::before {
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: -23.5px;
          background-color: #d2d6dd;
        }
        &:hover {
          &::before {
            background-color: #40d88a;
          }
        }
        &:hover a {
          color: #40d88a;
        }
        & > a {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 5px 5px 5px 15px;
          font-size: 14px;
          font-weight: 500;
          color: #919caa;

          &.router-link-active {
            color: #40d88a;
          }
        }
      }
    }
  }
}
.wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-wrapper {
  background-color: #ecf0f5;
  min-height: calc(100vh - 50px);
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 250px;
}
.main-header {
  margin-bottom: 50px;
}
.content {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .main-sidebar {
    top: 50px;
  }
  body.sidebar-collapse .content-wrapper {
    margin-left: 0px !important;
  }
  body.sidebar-collapse .main-sidebar {
    transform: translateX(-250px);
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    margin-left: 0px !important;
    transform: translate(250px);
  }
  body.sidebar-collapse .content-wrapper {
    margin-left: 0px !important;
    transform: translate(0px);
  }
  body.sidebar-collapse .main-sidebar {
    transform: translateX(-250px);
  }
  .main-header {
    margin-bottom: 100px;
  }
}
